<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apotiksehat">

    // manifest ialah hak akses untuk mengatur pada activity dan layout

    // permision untuk menggunakan jaringan internet
    <uses-permission android:name="android.permision.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApotikSehat">
        <activity android:name=".Daftar"></activity>
        <activity android:name=".RiwayatTransaksi" />
        <activity android:name=".MenuTransaksi" />
        <activity android:name=".InfoObat" />
        <activity android:name=".DataObat" />
        <activity android:name=".HalamanDashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>